body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}
section{
  padding: 50px 150px;
}
h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.container {
  margin: auto;
}

.hero-banner {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(236, 236, 236));
}

.bg-shape {
  position: absolute;
  width: 340px;
  height: 340px;
  background: rgb(247, 224, 199);
  opacity: 0.70;
  z-index: 0;
  pointer-events: none;
  border-radius: 50%;
  animation: pulse 4s ease-in-out infinite;
}

.shape-top-right {
  top: -50px;
  right: -50px;
}

.shape-bottom-left {
  bottom: -50px;
  left: -50px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }

  50% {
    transform: scale(1.08);
    opacity: 0.9;
  }

  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
  z-index: 1;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  color: #f47b45;
}
.lovato{
  color: #000000;
}

.hero-description {
  font-size: 1.3rem;
  width: 95%;
  color: #757575;
}

.hero-description span {
  color: #000000;
}

.gradient-line {
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #f47b45, #f3bea6, #fff1ea);
}

.spec-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.spec-box {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.80rem;
  max-width: 150px;
  background: #ffffff;
  padding: 15px 15px;
  border: 1px solid #cfcfcf;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  font-size: 0.8rem;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.spec-box:hover,
.spec-box:focus,
.spec-box:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.spec-box svg {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  padding: 8px;
  background-color: #ffefeb;
  color: #f47b45;

  border-radius: 50px;
}

.spec-label-text {
  display: inline-block;
  line-height: 1.1;
}

.spec-label-text span {
  font-size: 1.3rem;
  font-weight: 800;
  color: #f47b45;

}

.features-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 2rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 0.8rem;
  height: 35px;
}

.feature svg {
  color: #f47b45;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.hero-buttons {
  display: flex;
  gap: 20px;
}
.hero-button {
  padding: 15px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border: 2px solid transparent;
}

.hero-button.primary {
  background-color: #f47b45;
  color: #ffffff;
  border-color: transparent;
}

.hero-button.primary:hover,
.hero-button.primary:focus {
  background-color: #f35f1b;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.hero-button.secondary {
  background-color: #ffffff;
  color: #000000;
  border-color: #e0e0e0;
}

.hero-button.secondary:hover,
.hero-button.secondary:focus {
  background-color: #f7f6f6;
  color: #000000;
}

.hero-img-wrapper {
  flex: 0 0 auto;
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
  max-width: 500px;
  
}

.hero-img-wrapper:hover {
  transform: scale(1.05);
}

.hero-image {
  position: relative;
  max-width: 500px;

  padding: 100px 10px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}


.hero-image img {
  display: flex;
  width: 100%;
  height:auto;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.overlay {
  position: absolute;
  font-size: 0.75rem;
  font-weight: 600;
  display: inline-flex;        
  align-items: center;         
  gap: 6px;           
  z-index: 1;
  white-space: nowrap;
}


.switch-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.switch-img {
  position: relative;
  max-width: 500px;
  border-radius: 1rem;
  overflow: hidden;
  flex: 1 1 400px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.switch-img img {
  width: 100%;
  height: auto;
  display: block;
}

.switch-img .caption {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: #fff;
  background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
}

.switch-img .caption h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

.switch-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 400px;
}

.switch-item {
  position: relative;
  height: 80px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-left: 4px solid #f47b45;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;

}

.switch-item:hover {
box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.switch-item .text h4 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.switch-item .text p {
  margin: 5px 0 0;
  font-size: 0.95rem;
  color: #666;
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #f47b45;
  color: #f47b45;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: 400;
  white-space: nowrap;
}


.top-right {
  top: -12px;
  right: -25px;
  font-size: 1rem;
  font-weight: 800;
  background-color: #f47b45;
  color: white;
  border-radius: 50px;
  padding: 12px 15px ;
  animation: hang 2s ease-in-out infinite;
  transform-origin: top center;
}


@keyframes hang {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}


.features-text, .switch-text,
.tech-text {
  text-align: center;
  margin: auto;
  line-height: 0;
}

.description {
  margin: auto;
  width: 50%;
  color: #757575;
  margin-bottom: 30px;
}

.key-features-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.key-features-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
}

.feature-box {
  border: 2px solid #dfdfdf;
  padding: 10px 30px;
  border-radius: 0.75rem;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 500px;
  text-align: left;
}


.feature-box p.short-detail {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s ease, max-height 1s ease;
}

.feature-box.active p.short-detail {
  opacity: 1;
  max-height: 100px;
  margin-top: 0.5rem;
}

.feature-box:hover,
.feature-box.active {
  background-color: #fffbf9;
  border: 2px solid #f47b45;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.feature-title {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
}

.feature-icon {
  width: 24px;
  height: 24px;
  padding: 10px;
  border-radius: 50%;
  background-color:#ffefeb; 
  color: #f47b45; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.feature-box.active .feature-icon {
  background-color: #f47b45;
  color: #fff; 
}


.feature-display {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  background-image: linear-gradient(rgb(255, 250, 246), rgb(255, 253, 251), rgb(255, 255, 254));
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  flex: 1;
}

.display-title.animate,
.display-description.animate {
  -webkit-animation: rotate-in-2-fwd-cw 0.5s ease-in-out both;
  animation: rotate-in-2-fwd-cw 0.5s ease-in-out both;
}

@-webkit-keyframes rotate-in-2-fwd-cw {
  0% {
    -webkit-transform: translateZ(-200px) rotate(-10deg);
    transform: translateZ(-200px) rotate(-10deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) rotate(0);
    transform: translateZ(0) rotate(0);
    opacity: 1;
  }
}

.display-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  margin-bottom: 1rem;
}

.display-title svg {
  width: 100px;
  height: 100px;
  color: #f47b45;
}

.display-title h1 {
  margin: auto;
}

.display-description {
  font-size: 0.90rem;
  color: #817b7b;

}

.short-detail {
  font-size: 0.80rem;
  color: #817b7b;
  margin-top: 10px;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}


.technical-specs {
  background-color: #f8f8f8;
}

.tech-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: #f47b45;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
}

.tech-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ffffff;
}

.tech-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #ffffff;
  padding: 30px 5px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.tech-row {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.tech-row:hover {
  -webkit-transform: translateX(6px);
  transform: translateX(6px);
  background-color: #f5f5f5;
}

.tech-label {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: left;
}

.tech-value {
  font-size: 0.9rem;
  text-align: right;
  font-weight: 600;
}

.cta-section {
  background-color: #f47b45;
  text-align: center;
}

.cta-heading {
  margin-bottom: 15px;
  color: #ffffff;
}

.cta-subtext {
  margin-bottom: 30px;
  color: #ffffff;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  margin: auto;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.cta-button:hover,
.cta-button:focus {
  background-color: #ee4f0b;
  color: #ffffff;
  box-shadow: 0 8px 20px rgba(146, 146, 146, 0.2);
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  backdrop-filter: blur(4px);
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
}

.close-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
}

.close-button:hover {
  color: #e53935;
}

.modal-content label {
  display: block;
  margin-top: 1.25rem;
  font-size: 0.95rem;
  color: #333;
}

.modal-content input {
  width: 100%;
  padding: 10px 20px;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.2s ease;
}
.modal-content textarea{
  width: 90%;
  padding: 0.6rem 0.75rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  margin-top: 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.2s ease;
}
.modal-content input:focus,
.modal-content textarea:focus {
  border-color: #f47b45;
  outline: none;
}

.row {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.row input {
  flex: 1;
}

.modal-content button {
  margin-top: 1.5rem;
  width: auto;
  padding: 15px;
  background-color: #f47b45;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #d05d1f;
}


footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #777;
}

@media (max-width: 768px) {
  section{
    padding: 20px;
  }
  .hero-content {
    flex-direction: column;
    align-items: center;
  }


  .tech-table {
    grid-template-columns: 1fr;
  }

  .tech-row {
    padding: 10px 0;
  }

  .feature-display {
    height: auto;
  }

  .description {
    width: auto;

  }
}

@media (max-width: 468px) {
  h1 {
    font-size: 1.6rem;
    font-weight: 800;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
}


